<%- include('../_layouts/adminheader') %>

<h2 class="page-title">Usuários</h2>
<a href="/users/register" class="btn btn-primary">Adicionar</a>
<br><br>

<table class="table table-striped">

    <thead>
        <tr>
            <th>Nome</th>
            <th>Tipo</th>
            <!-- <th>Editar</th> -->
            <th>Deletar</th>
        </tr>
    </thead>
    <tbody>
        <% users.forEach(function(user){ %>
        <tr>
            <td><%= user.username %></td>
            <td><%= user.admin == 0 ? 'Admin' : 'User' %></td>
            <!-- <td><a >Editar</a></td> -->
            <% if(user.admin == 0) { %>
                <td></td>
                <% } else { %> 
            <td><a href="users/delete-user/<%= user._id %>">Deletar</a></td>
            <% } %>
        </tr>
        <% }); %>
    </tbody>
</table>

<%- include('../_layouts/adminfooter') %>